
body, h1, h2, h3, p, ul, ol, li, table, th, td, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}
header {
    background-color: burlywood;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
    z-index: 2; 
}

.nav-left h1 {
    font-size: 18px;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.nav-left h1 img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.search-box {
    display: flex;
}

.search-box input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
}

.search-box button {
    padding: 8px 12px;
    border: none;
    background-color: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}

.search-box button:hover {
    background-color: #0056b3;
}

.side-nav {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 250px;
    background-color: burlywood;
    overflow-y: auto;
    z-index: 1; 
}

.user-profile {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #8b8888;
}

.user-profile img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.user-profile .username {
    font-size: 18px;
    font-weight: bold;
}

.side-nav ul {
    list-style-type: none;
}

.side-nav ul li {
    padding: 15px 20px;
    border-bottom: 1px solid burlywood;
}

.side-nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    transition: color 0.3s;
}

.side-nav ul li a:hover {
    color: #007bff;
}

#content-wrapper {
    margin-left: 250px;
    padding: 20px;
    position: relative;
    z-index: 2; 
}

#productForm {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
