body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

h1 {
    text-align: center;
    background-color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

.filters {
    margin-top: 20px;
}

.filters label {
    margin-right: 10px;
}

.filters input[type="text"],
.filters input[type="number"] {
    width: 100px;
    padding: 5px;
}

.filters input[type="number"] {
    width: 60px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .social-icons a {
    display: inline-block;
    margin-left: 10px;
  }
  
  .social-icons img {
    width: 30px;
    height: 30px;
  }
  
  